
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Lato", sans-serif;
  text-transform: none;
}


.reveal a, .reveal .controls {
    color: #a40a0a;
}

.slide {
    background-image: url(../img/meggsimum-logo-middle.png);
    background-repeat: no-repeat;
    background-position: 1% 97% ;
}
